/*********************************************
 *  test.vim Color Scheme
 *********************************************/

$body-background: #1f1f1f;
$body-color: #aaaaaa;

$h1-color: #af5f5f;
$h2-color: #af5f5f;
$h3-color: #af5f5f;
$h4-color: #af5f5f;
$h5-color: #af5f5f;
$h6-color: #af5f5f;

$pre-background: #1f1f1f;
$pre-color: #aaaaaa;
$a-color: #aaaaaa;
$code-background: #1f1f1f;
$code-color: #aaaaaa;
$th-background: #1f1f1f;
$blockquote-color: #aaaaaa;
$hr-color: #aaaaaa;

@import "../template";